.container {
    padding: 20px;
}
.product {
    max-width: 250.5px;
    margin: 0 0 0;
}
.product .mat-card {
    min-height: 118px;
}
.mat-card-title {
    font-size: 18px;
}
h4.mat-h4 {
    margin: 7px 0 0;
}
.qty {
    text-align: center;
}
